body {
    background-image: url("../assets/img/bg.jpg");
    font-size: 24px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.hero img {
    width: 100%;
    max-width: 100%;
}
.main-nav {
    text-align: center;
    margin-top: -45px;
    margin-bottom: 100px;
    color: #FFFFFF;
}
.main-nav ul {
    padding-left: 0;
}
.main-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
    border: 4px double rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.main-nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main-content .container {
    text-align: center;
}
.img-separator {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-section {
    margin-top: 100px;
}
.team-members {
    margin-bottom: 40px;
}
.team-member {
    margin-bottom: 200px;
}
.team-member .img {
    float: left;
    margin-right: 40px;
}
.team-member .name {

}
.team-member .position {

}
.team-member .bio {
}
.clearfix {
    clear: both;
}


footer {
    text-align: center;
    margin-top: 130px;
}

.dish {
    text-align: center;
}
.dish-blurb {
    width: 50%;
    margin: 0 auto;
}
.back-to-menu-btn {
    padding: 10px 30px;
    text-align: left;
    display: block;
}
.back-to-menu-btn a {
    text-decoration: none;;
}